.background {
	position: relative;
/*  background-image: url("/beach.jpg");*/
/*	background-size: contain;*/
	max-width: 100%;
	height: auto;
	opacity: .9;
}

.pointer{ 
	cursor: url("cursor.svg"); 
}

@font-face {
    font-family: 'pp_editorial_newitalic';
    src: url('ppeditorialnew-italic-webfont.woff2') format('woff2'),
         url('ppeditorialnew-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_editorial_newregular';
    src: url('ppeditorialnew-regular-webfont.woff2') format('woff2'),
         url('ppeditorialnew-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_editorial_newultrabold';
    src: url('ppeditorialnew-ultrabold-webfont.woff2') format('woff2'),
         url('ppeditorialnew-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_editorial_newultraBdIt';
    src: url('ppeditorialnew-ultrabolditalic-webfont.woff2') format('woff2'),
         url('ppeditorialnew-ultrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_editorial_newultralight';
    src: url('ppeditorialnew-ultralight-webfont.woff2') format('woff2'),
         url('ppeditorialnew-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pp_editorial_newultraLtIt';
    src: url('ppeditorialnew-ultralightitalic-webfont.woff2') format('woff2'),
         url('ppeditorialnew-ultralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes wave{
	0% {x: -200px}
	100% {x: 0px}
}

@keyframes fill-up{
	0% {height: 0; y: 50px;}
	100% {height: 100px; y: 0px}
}

.water-fill{
	animation: wave 2s infinite linear, fill-up 10s infinite ease-out alternate;
}

/*@font-face {
  font-family: PPEditorialNew;
  src: url(PPEditorialNew-Ultralight.otf);
}*/

#scroll{
	position: absolute;
	top: 0;
	font-family: 'pp_editorial_newultralight';
    src: url('ppeditorialnew-ultralight-webfont.woff') format('woff');
	background-color: #f1d27a;
	height: 28px;
	width: 100%;
	font-size: 16pt;
}

#emoji{
	padding-top: 50px;
	padding-bottom: 30px;
*//*	display: flex;
	flex-wrap: wrap;*/
	width: 100%;
	text-align: center;
	align-items: center;
	background-color: #fa7d40;
	height: 60px;
	font-size: 14pt;
}

#surfsup_div{
	position: absolute;
	top: 90px;
	left: 300px;
}

#divheader{
	cursor: move;
}

#alphabet{
	background-color: #fa7d40;
	display: flex;
	flex-flow: row wrap;
  justify-content: space-around;
	top: 400px;
	left: 10px;
}



