.blotterGallery{
	
}

#one{
	width: 25%;
	height: auto;
	background-color: #FF10F0;
}

#two{
	width: 25%;
	height: auto;
	background-color: #39FF14;
}

#three{
	width: 25%;
	height: auto;
	background-color: #FF10F0;
}

#four{
	width: 25%;
	height: auto;
	background-color: #39FF14;
}

#five{
	width: 25%;
	height: auto;
	background-color: #FF10F0;
}

#six{
	width: 25%;
	height: auto;
	background-color: #39FF14;
}

#seven{
	width: 25%;
	height: auto;
	background-color: #FF10F0;
}