.dog{
	width: 100%;
	height: auto;
}

body{
	font-size: 22px;
	font-family: monospace;
	background-color: #4d4dff;
}


.image_full{
   display:block;
  }

 .image_medium{
  display:none;
 }

 .image_mobile{
  display:none;
 }

 	p{
		font-size: 1em;
		margin-top: 80px;
		margin-left: 600px;
	}



@media screen 
and (min-width:  768px) 
and (max-width: 1024px) 
and (orientation: landscape){
	

.image_full{
   display:none;
  }

 .image_medium{
  display:block;
 }

 .image_mobile{
  display:none;
 }

	p{
		font-size: 22px;
		font-family: monospace;
		margin-top: 80px;
		margin-left: 200px;
	}

	body{
		background-color: #FF10F0;
	}

} 

@media screen and (max-width: 768px){

.image_mobile{
   display:block;
  }

.image_medium{
  display:none;
 }

 .image_full{
  display:none;
 }

	p{
		font-size: 22px;
		font-family: monospace;
		margin-top: 80px;
		margin-left: 80px;
	}

	body{
		background-color: #ccff00;
	}

}